html, body {
    margin:0;
    padding:0;
    }


    h1{
        margin: 0;
    }
hr {
    margin: 0;
}
.head {
    background-color: #31f7f1;
    border: none;
    box-shadow: 2px 1px 12px #3177f7;
}
.input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
}
.input p {
    font-size: 15pt;
    font-weight: bold;
}

.input input {
    font-size: 15pt;
    border-radius: 20px;
    padding: 5px 10px;
}

.input button{
    font-size: 20pt;
    font-weight: bold;
    margin-top: 10px;
    background: #31f7f1;
    border: 0;
    border-radius: 20px;
    padding: 10px 15px;
    color: #fff;
}
.input button:hover {
    background: #18b5b0;
}