body {
    background-color: #31f7f1;
}
form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    background: transparent;
}
.left_area{
    display:inline-block
}
.buttons_area{
    display:inline-block;
    width:30px;
}
.right_area{
    display:inline-block
}